nav {
  background: #f9f9fa;
  padding: 1em 1.5em;
  position: fixed;
  bottom: 0;
  width: 100%;
  border-top: 1px solid rgba(120, 120, 120, 0.2);
  box-sizing: border-box;
}

.nav-list {
  display: flex;
  justify-content: space-between;
}

.nav a {
  color: #2e363e;
  position: relative;
}

.notification {
  background: tomato;
  display: block;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  position: absolute;
  left: 1em;
  bottom: 1em;
}
