.notification {
  background: tomato;
  display: block;
  padding: 0.5em;
  border-radius: 1em;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-weight: 600;
  animation: notificationAnimation 4s ease-in-out infinite;
}
